main{padding:20px}body{font-family:Arial,sans-serif;background-color:#f0f0f0}h1{line-height:0}p,a{font-size:18px}h1,p{color:#4d5161}#main{display:flex;flex-direction:column;align-items:center;justify-content:center;height:80vh}
